<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Renewal History</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet">
  <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="bg-light">

<div class="container mt-5">
  <div class="card shadow p-4">
    <h3 class="mb-4">Payment History</h3>
    <div class="mb-3">
  <!--label for="customerId" class="form-label">Select Customer</label-->
  <label for="customerId" class="form-label">Enter Customer ID</label>
    <input type="number" id="customerId" class="form-control" placeholder="Customer ID">
  <!--select id="customerId" class="form-select">
  <option value="" disabled selected>Choose a customer</option>
  <option th:each="cust : ${assignedCustomers}"  .. this we used when automatically without typing customer id gets selected
          th:value="${cust.id}"
          th:text="${cust.firstName + ' ' + cust.lastName + ' (ID: ' + cust.id + ')'}">
  </option>
</select-->
  <button class="btn btn-primary mt-2" onclick="fetchCustomerHistory()">Get Policies</button>
</div>
    <table class="table table-bordered mt-3">
      <thead class="table-dark">
        <tr>
          <th>Customer ID</th>
          <th>Policy ID</th>
          <th>Payment ID</th>
          <th>Amount</th>
          <th>Mode</th>
          <th>Status</th>
          <th>Payment Date</th>
          <th>Next Premium Date</th>
          <th>Policy Status</th>
          <th>Status Message</th>
        </tr>
      </thead>
      <tbody id="historyTable">
        <tr><td colspan="10" class="text-center">Enter Customer ID to view your policies</td></tr>
      </tbody>
    </table>
  </div>
</div>

<script th:src="@{/js/history.js}"></script>
</body>
</html>
